<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meu App</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    
    <div class= 'container'>
            <form id="user-form">
                <h1> Cadastro de Usuários </h1>
                <input placeholder="Nome" name="nome" type ="text" required>
                <input placeholder="Email" name="email"  type="text" required>
                <button type="button" onClick=>
                    Cadastrar
                </button>
            </form>
    
    
            <div>
                <ul id="user-list"> </ul>  
            </div>
            



    </div>
    
</body>
</html>